<div class="page3">
  <div class="logo-container ">
    <!-- Logo -->
    <img class="logo" src="../../assets/page3/logo.png" alt="">
  </div>
  <div class="btn-container">
    <img src="../../assets/page3/day1.png" id="day1" (click)=selectDay($event) alt="Propose Day">
    <img src="../../assets/page3/day2.png" id="day2" (click)=selectDay($event) alt="Choclate Day">
    <img src="../../assets/page3/day3.png" id="day3" (click)=selectDay($event) alt="Teddy Day">
    <img src="../../assets/page3/day4.png" id="day4" (click)=selectDay($event) alt="Promise Day">
    <img src="../../assets/page3/day5.png" id="day5" (click)=selectDay($event) alt="Kiss Day">
    <img src="../../assets/page3/day6.png" id="day6" (click)=selectDay($event) alt="Hug Day">
    <img src="../../assets/page3/day7.png" id="day7" (click)=selectDay($event) alt="Valentine Day">
  </div>
</div>
